<p id="notice"><%= notice %></p>

<p>
  <b>Start time:</b>
  <%= @timesheet.start_time %>
</p>

<p>
  <b>Repeats:</b>
  <%= @timesheet.repeats %>
</p>


<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
